@page
@model Web.Pages.IndexModel
@{
    ViewBag.Title = "Home";
}


<div class="text-center justify-content-center mb-5">
    <img class="form-banner" src="img/account.png" alt="your profile" title="welcome back to your account." />
    <h3 class="lead">Welcome to your account.</h3>
</div>
<section class="container">
    <div class="row">

        <div class="col-lg-6 col-md-6 col-sm-12 p-3 h-25">
            <a class="custom-card d-block text-decoration-none text-black" href="#" title="edit your profile.">
                <div class="text-center">
                    <div class="option-banner" style="background-image: url('img/profile.png');"></div>
                    <p class=" lead">Edit your profile</p>
                    <p class="mt-5">
                        you can edit your general information such as profile picture or bio and
                        etc... here.
                    </p>
                </div>
            </a>
        </div>


        <div class="col-lg-6 col-md-6 col-sm-12 p-3 h-25">
            <a class="custom-card d-block text-decoration-none text-black" href="#"
               title="change your security settings">
                <div class="text-center">
                    <div class="option-banner" style="background-image: url('img/TFA.png');"></div>
                    <p class="lead">Security settings</p>
                    <p class="mt-5">
                        Change your security settings for examle two factor authentication and
                        etc...
                    </p>
                </div>
            </a>
        </div>


        <div class="col-lg-6 col-md-6 col-sm-12 p-3 h-25">
            <a class="custom-card d-block text-decoration-none text-black" href="#"
               title="the applications you've loggined.">
                <div class="text-center">
                    <div class="option-banner" style="background-image: url('img/applications.png');"></div>
                    <p class="lead">Applications</p>
                    <p class="mt-5">The applications you've shared your data with them.</p>
                </div>
            </a>
        </div>


        <div class="col-lg-6 col-md-6 col-sm-12 p-3 h-25">
            <a class="custom-card d-block text-decoration-none text-black" href="#"
               title="messages comming from applications">
                <div class="text-center">
                    <div class="option-banner" style="background-image: url('img/new-message.png');"></div>
                    <p class="lead">Inbox</p>
                    <p class="mt-5">The messages you've recaived from applications.</p>
                </div>
            </a>
        </div>


    </div>
</section>