@page
@model Web.Pages.Login.IndexModel
@{
    ViewBag.Title = "Login to your account";
    Layout = "_AuthenticationLayout";
}


<form asp-page="/Login/Index" method="post">
    @Html.AntiForgeryToken()
    <div class="mb-3 p-2">
        <label class="form-label">Username </label>
        <input class="form-control" asp-for="LoginDto.Username" placeholder="Username" />
    </div>
    <div class="mb-3 p-2">
        <label class="form-label">Password </label>
        <input class="form-control" asp-for="LoginDto.Password" placeholder="********" />
    </div>
    <div class="mb-3 p-2">
        <div class="form-check">
            <input class="form-check-input" asp-for="LoginDto.RememberMe" type="checkbox">
            <label class="form-check-label" for="flexCheckDefault">
                Remember me!
            </label>
        </div>
    </div>
    <p class="ps-2">Forgot your password? <a class="btn btn-link" href="#">Reset password</a></p>
    <p class="ps-2">Don't have an account? <a class="btn btn-link" asp-page="/Register/Index">Register</a></p>
    <div class="mb-3 p-2">
        <button type="submit" class="btn btn-primary ps-5 pe-5">Login</button>
        <button type="reset" class="btn btn-outline-secondary">Reset</button>
    </div>
    <div class="text-danger" asp-validation-summary="All"></div>
</form>

@section Script
{
    @await Html.PartialAsync("_ValidationPartial")
}