@font-face {
    font-family: "arial";
    src: url('../fonts/ARIAL.TTF');
}

body
{
    font-family: 'arial';
    margin: 0px;
    padding: 0px;
}

.bg-w-smock
{
    background-color: whitesmoke;
}

.bg-white
{
    background-color: white;
}

.box-shadow-8px
{
    box-shadow: 0px 0px 8px #4e4e4e88;
}

.vh-center
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.h-100-vh
{
    height: 100vh;
}

.custom-card
{
    background-color: white;
    border-radius: 16px;
    padding: 8px;
    box-shadow: 0px 0px 8px #4e4e4e88;
    overflow: hidden;
    transition: .3s all ease;
}

.custom-card:hover
{
    box-shadow: 0px 0px 16px #4e4e4e88;
}

.form-banner
{
    max-height: 30%;
    max-width: 50%;
}

.back-to-home
{
    position: absolute;
    top: 0;
    left: 0;
}

.display-none
{
    display: none;
}

.option-banner
{
    width: 50%;
    height: 200px;
    object-fit: cover;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0px auto;
}

.footer-nav ul li
{
    list-style-type: none;
}